@use "../utils";

.pagination {
  --size-square-links: 2rem;
  --nav-flex-justify: center;
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    justify-content: var(--nav-flex-justify, center);
    li {
      margin: 0 .2rem;
      background: utils.getColor("grey-05");
      a {
        width: var(--size-square-links);
        height: var(--size-square-links);
        font-size: 1.2rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        color: utils.getColor("light");
        background: utils.getColor("grey-03");
      }
    }
  }
  &.pag-right {
    --nav-flex-justify: flex-end;
  }
  &.pag-left {
    --nav-flex-justify: flex-start;
  }
}
