@use "../utils";

%component-padding {
  padding: 8rem 0;
  &.no-margin-bottom {
    padding-bottom: 0;
  }
  @include utils.mediaTo(lg) {
    padding: 4rem 0;
  }
}

%absoluteCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
